In [10]:
import pandas as pd
#DataFrame creation
df = pd.DataFrame({'Weight':[45,88,56,15,71],
                  'Name':['Sam','Andrea','Alex','Robin','Kia'],
                  'Age':[14,25,55,8,21]})

index = ['Row_1','Row_2','Row_3','Row_4','Row_5']#Setting Index

df.index = index

print(df)

       Weight    Name  Age
Row_1      45     Sam   14
Row_2      88  Andrea   25
Row_3      56    Alex   55
Row_4      15   Robin    8
Row_5      71     Kia   21

In [4]:
first = df.loc['Row_3','Name']
first

'Alex'

In [6]:
print(df)

       Weight    Name  Age
Row_1      45     Sam   14
Row_2      88  Andrea   25
Row_3      56    Alex   55
Row_4      15   Robin    8
Row_5      71     Kia   21

In [9]:
result = df.loc[:,['Weight','Name']]
result

       Weight    Name
Row_1      45     Sam
Row_2      88  Andrea
Row_3      56    Alex
Row_4      15   Robin
Row_5      71     Kia