In [9]:
import pandas as pd

car_data = {'Model': ['Valiant','Duster 360','Merc 240D','Merc 230D','Merc 280D','Merc 450SE','Merc 450SL','Merc 450SLC',
                          'Cadillac Fleetwood','Lincoln continental','Chrysler Imperial',
                          'Fiat 128','Honda Civic','Toyota Coralla'],
           'Gear':[3,3,4,4,5,4,3,3,3,3,3,4,4,4],
           'Cylinder':[6,8,4,4,6,6,8,8,8,8,8,4,4,4]}
car_df = pd.DataFrame(car_data)
car_df

                  Model  Gear  Cylinder
0               Valiant     3         6
1            Duster 360     3         8
2             Merc 240D     4         4
3             Merc 230D     4         4
4             Merc 280D     5         6
5            Merc 450SE     4         6
6            Merc 450SL     3         8
7           Merc 450SLC     3         8
8    Cadillac Fleetwood     3         8
9   Lincoln continental     3         8
10    Chrysler Imperial     3         8
11             Fiat 128     4         4
12          Honda Civic     4         4
13       Toyota Coralla     4         4

In [11]:
unique_gear = pd.unique(car_df.Gear) #selecting the unique elements from the column
unique_cylinder = pd.unique(car_df.Cylinder)
unique_name = pd.unique(car_df.Model)
print(unique_gear)
print(unique_cylinder)
print(unique_name)

[3 4 5]
[6 8 4]
['Valiant' 'Duster 360' 'Merc 240D' 'Merc 230D' 'Merc 280D' 'Merc 450SE'
 'Merc 450SL' 'Merc 450SLC' 'Cadillac Fleetwood' 'Lincoln continental'
 'Chrysler Imperial' 'Fiat 128' 'Honda Civic' 'Toyota Coralla']

In [14]:
gear_count = pd.value_counts(car_df.Gear)
cyl_count = pd.value_counts(car_df.Cylinder)
g_count = car_df['Gear'].value_counts()     #Both are the Same
c_count = car_df['Cylinder'].value_counts() #Both are the Same
print(gear_count)
print(cyl_count)
print(g_count)
print(c_count)

3    7
4    6
5    1
Name: Gear, dtype: int64
8    6
4    5
6    3
Name: Cylinder, dtype: int64
3    7
4    6
5    1
Name: Gear, dtype: int64
8    6
4    5
6    3
Name: Cylinder, dtype: int64

In [16]:
name_count = pd.unique(car_df.Model)
gear_count = pd.unique(car_df.Gear)
cylinder_count = pd.unique(car_df.Cylinder)

name_unique = len(name_count)
gear_unique = len(gear_count)
cylinder_unique = len(cylinder_count)

# for item in name_count:
#     name_unique+=1

# for item in gear_count:
#     gear_unique+=1
    
# for item in cylinder_count:
#     cylinder_unique+=1
    
print('Name_Unique = ',name_unique)
print('Gear_Unique = ',gear_unique)
print('Cylinder_Unique = ',cylinder_unique)

Name_Unique =  14
Gear_Unique =  3
Cylinder_Unique =  3